<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Images without captions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Images with captions</h1>
   
    <a href="{{ url_for('index') }}" class="nav-link">
        {{ no_caption_count }} Images without captions
    </a>

    <a href="{{ url_for('with_caption') }}" class="nav-link">
         {{ has_caption_count }} Images with captions
    </a>

    <a href="{{ url_for('no_json_images') }}" class="nav-link">
         {{ no_json_count }} Directories without JSON files
    </a>

    
    {% for file in files %}
    <div class="row" data-json-path="{{ file.json_file_path }}">
        <h2>{{ file.directory_name }}</h2>
        
        <div class="image-container">
            <img class="responsive-img" src="{{ url_for('static', filename='data/' + file.frame1_image) }}" alt="Frame 1">
            {% for point in file.source_points %}
                <div class="point" style="left: {{ point.x/2.9257142857 }}px; top: {{ point.y/2.9257142857 }}px;"></div>
            {% endfor %}
        </div>

        <div class="image-container">
            <img class="responsive-img" src="{{ url_for('static', filename='data/' + file.frame2_image) }}" alt="Frame 2">
            {% for point in file.target_points %}
                <div class="point" style="left: {{ point.x/2.9257142857 }}px; top: {{ point.y/2.9257142857 }}px;"></div>
            {% endfor %}
        </div>

        <div class="caption-section">
            <input type="text" placeholder="Enter Caption" value="{{ file.get('caption', '') }}">
            <input type="text" placeholder="Enter Action" value="{{ file.get('action', '') }}">
            <div class="event-types">
                {% set event_types = file.get('event_types', []) %}
                {% for etype in ['ContentCreation','Rescaling','Relocation','ContentRemoval','Rotation','Other'] %}
                    <button type="button"
                        class="event-type-btn{% if etype in event_types %} selected{% endif %}"
                        data-value="{{ etype }}">
                        {{ etype }}
                    </button>
                {% endfor %}
            </div>
            <button onclick="updateCaption(this)" class="action-btn save">Submit</button>
            <button class="describe-btn action-btn describe" onclick="describeImages(this)" data-image1="{{ file.frame1_image }}" data-image2="{{ file.frame2_image }}">Describe Images</button>
        </div>
        <div class="description-area" style="margin-top: 10px; width: 100%; font-style: italic;direction: ltr;"></div>
    </div>
    {% endfor %}

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>